<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>App</title>
</head>

<body>

<div>

    {{> header-area viewData=pageData}}

</div>
<div>
    {{{body}}}
</div>

<div>
    {{> footer-area viewData=pageData}}
</div>

</body>

</html>
