
<!doctype html>
<html lang="en">


    <head>
        {{!-- Header section. --}}
        <meta charset="utf-8">
        <title>{{metaData.appTitle}} {{#if (isDefined metaData.pageTitle)}} - {{metaData.pageTitle}}{{/if}}</title>
        <meta name="description" content="Core 17 Starter Site">
        <meta name="core17" content="core17 CMS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/styles.css">
        {{!-- /Header section. --}}
    </head>
    <body>

        <header>
            {{> header-area viewData=metaData}}
        </header>

        <main>
            {{{body}}}
        </main>

        <footer>
            {{> footer-area viewData=pageData}}
        </footer>

        <script src="scripts/scripts.js"></script>

    </body>

</html>
