<div class="page standard-page">
    standard page
    {{pageData}}
    {{viewData}}
<!--    {{#each viewData}}-->
<!--        <div>-->
<!--            {{> (lookup . 'areaName') viewData=this }}-->
<!--        </div>-->
<!--    {{/each}}-->
</div>

