
<div class="area header-area">
    <div>
        {{#each viewData.routes}}
            <a href="/{{this.routeLink}}" style="display: inline-block"> {{this.routeAlias}} </a>
        {{/each}}
    </div>
</div>
